<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Welcome back</span>
                <p th:utext="${userName}"></p>
            </div>
            <div class="panel-body">
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-md btn-danger btn-block" name="registration"
                            type="Submit">Logout
                    </button>
                </form>
            </div>
        </div>
    </div>

    <base href="/admin/"/>
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">Categories</div>
            <div class="panel-body">
                <p><a href="add/categories.html">Add</a></p>
                <p><a href="delete/categories.html">Delete</a></p>
            </div>

            <div class="panel-heading">Features</div>
            <div class="panel-body">
                <p><a href="add/features.html">Add</a></p>
                <p><a href="delete/features.html">Delete</a></p>
            </div>

            <!--
            <div class="panel-heading">Category Feature Relationships</div>
            <div class="panel-body">
                <p><a href="category_feature_rels/list">List</a></p>
            </div>

            <div class="panel-heading">Feature Descriptions</div>
            <div class="panel-body">
                <p><a href="feature_descriptions/list/">List</a></p>
            </div>

            <div class="panel-heading">Feature Variants</div>
            <div class="panel-body">
                <p><a href="feature_variants/list">List</a></p>
            </div>

            <div class="panel-heading">Feature Variant Descriptions</div>
            <div class="panel-body">
                <p><a href="feature_variant_descriptions/list">List</a></p>
            </div>

            <div class="panel-heading">Images</div>
            <div class="panel-body">
                <p><a href="images/list/">List</a></p>
            </div>

            <div class="panel-heading">Languages</div>
            <div class="panel-body">
                <p><a href="languages/list/">List</a></p>
            </div>

            <div class="panel-heading">Products</div>
            <div class="panel-body">
                <p><a href="products/list/">List</a></p>
            </div>

            <div class="panel-heading">Product Descriptions</div>
            <div class="panel-body">
                <p><a href="product_descriptions/list/">List</a></p>
            </div>

            <div class="panel-heading">Product Variant Relationships</div>
            <div class="panel-body">
                <p><a href="product_variant_rels/list/">List</a></p>
            </div>

            <div class="panel-heading">Roles</div>
            <div class="panel-body">
                <p><a href="roles/list/">List</a></p>
            </div>

            <div class="panel-heading">Users</div>
            <div class="panel-body">
                <p><a href="users/list/">List</a></p>
            </div>

            <div class="panel-heading">User Roles</div>
            <div class="panel-body">
                <p><a href="user_roles/list/">List</a></p>
            </div>
            -->
        </div>
    </div>

</div>
</body>
</html>