<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:include="front/blocks/header :: header">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>

<header th:include="front/common/header :: header(${languages},${subcategories})">

</header>
<th:block th:replace="front/common/navigation :: navigation(${categoriesTree})"></th:block>
<div layout:fragment="content">
    <th:block th:include="front/blocks/products/top :: topproducts(${products})"></th:block>
</div>

<div th:with="url=${@environment.getProperty('app.siteurl')}"></div>

<th:block th:replace="front/common/footer :: footer"></th:block>
<!-- jQuery Plugins -->
<script th:src="@{http://localhost:8080/eshop/js/jquery.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/bootstrap.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/slick.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/nouislider.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/jquery.zoom.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/main.js}"></script>
</body>

</html>
