<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Feature</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <li><a href="../home">HOME</a></li>
        </div>
    </div>
</nav>

<div>
    <p th:text="${message}"></p>
    Add Feature
    <form method="post">
        <p><input type="text" name="name1" placeholder="Name: language 1"/></p>
        <p><input type="text" name="name2" placeholder="Name: language 2"/></p>
        <p><input type="text" name="name3" placeholder="Name: language 3"/></p>
        <p><input type="text" name="description1" placeholder="Category: language 1"/></p>
        <p><input type="text" name="description2" placeholder="Category: language 2"/></p>
        <p><input type="text" name="description3" placeholder="Category: language 3"/></p>
        <p><input type="number" name="status" placeholder="Status"/></p>
        <p><input type="submit"/></p>
    </form>
</div>

<div>
    <p>List of Features</p>
    <p>Id | Name</p>
</div>

<div th:each="feature: ${features}">
    <span th:utext="${feature.getId()}"></span>.
    <span th:utext="${feature.getName()}"></span>
</div>

</body>

</html>
