<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .hidden{
            display: none;
        }
        .border{
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 6px 10px;
            display: block;
        }
    </style>
</head>
<body>
<!-- Arsen -->
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/userinfo/password}"
                  th:object="${editPassword}" method="post" class="form-horizontal" role="form">
                <h2>Edit Password</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                               class="validation-message"></label>
                        <input type="text" placeholder="Old Password" class="form-control" name = "oldPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                               class="validation-message"></label>
                        <input type="text" placeholder="New password" class="form-control" name = "newPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"
                               class="validation-message"></label>
                        <input type="text" placeholder="Repeat password" class="form-control" name = "repitPassword" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">OK</button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>

</body>
</html>