<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->
<!--<h1>Something went wrong! </h1>-->
<!--<h2>Our Engineers are on it</h2>-->
<!--<a href="/">Go Home</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }

    </style>
    <title>Page Not Found</title>
</head>
<body style="text-align: center">
<h1>404</h1>
<a href="/" th:href="@{/}">Back to Home Page</a>
</body>
</html>