<html layout:decorate="~{front/home/index}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="front/blocks/header :: header">

</head>
<body>
<header th:include="front/common/header :: header(${languages},${subcategories})">

</header>

<div layout:fragment="content">
<!--TODO-->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 th:text="${product.productDescription[0].name}" th:if="${product.productDescription.size()} > 0"></h1>
                <span>Price</span><span th:text="${product.price}"></span>
                <div class="w3-content w3-display-container" style="max-width:200px;margin:0 auto">

                    <img th:each="image : ${product.images}" class="mySlides" th:src="@{'/images/products/'+${image.url}}" style="width:100%" th:if="${product.images.size()}>0">
                    <img  class="mySlides" th:src="@{'/images/products/noimage.jpg'}" style="width:100%" th:if="${product.images.size()} ==0">


                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    <hr>
                    <br>
                    <br>

                </div>
                <h1>Product features</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Feature</td>
                        <td>Variant</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="f : ${productFeatures}">
                        <td th:text="${f.featureName}"></td>
                        <td th:text="${f.variantName}"></td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <h1>Description</h1>
                <div th:text="${product.productDescription[0].description}" th:if="${product.productDescription.size()} > 0">

                </div>
            </div>
            <div class="col-md-3" th:if="${productOwner} != null">
                <a th:href="@{'/user/'+${productOwner.id}+'/products'}">
                    <h1 th:text="${productOwner.name}"></h1>
                </a>
            </div>



        </div>
    </div>


</div>
<th:block th:replace="front/common/footer :: footer"></th:block>
<!-- jQuery Plugins -->
<script th:src="@{http://localhost:8080/eshop/js/jquery.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/bootstrap.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/slick.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/nouislider.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/jquery.zoom.min.js}"></script>
<script th:src="@{http://localhost:8080/eshop/js/main.js}"></script>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>
</body>

</html>