<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>E-SHOP HTML Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" th:href="@{http://localhost:8080/eshop/css/bootstrap.min.css}" >

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" th:href="@{http://localhost:8080/eshop/css/slick.css}">
    <link type="text/css" rel="stylesheet" th:href="@{http://localhost:8080/eshop/css/slick-theme.css}" >

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" th:href="@{http://localhost:8080/eshop/css/nouislider.min.css} ">

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" th:href="@{http://localhost:8080/eshop/css/font-awesome.min.css}" >

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" th:href="@{http://localhost:8080/eshop/css/style.css}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
</html>